canvas {
  display: flex;
}

#thescore,
#thetime {
  font-family: get schwifty;
  color: chartreuse;
  text-align: end;
  width: 100px;
}

#skulls {
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-skull {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

#skulls p {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: aliceblue;
  font-size: 40px;
  width: 600px;
  align-self: center;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 100px;
  font-family: get schwifty;
  color: chartreuse;
  margin-bottom: 0px;
}

.eat {
  margin-left: 200px;
}

.alienimg {
  height: 250px;
  display: flex;
  align-self: center;
  margin: 0px 70px 0px 70px;
}

.alien-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  align-self: center;
}

.story > h1 {
  display: flex;
  justify-content: center;
}

#arrow {
  color: chartreuse;
  display: flex;
  justify-content: center;
  font-size: 100px;
  margin-top: 0px;
}

body {
  background-color: black;
}

.score {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: 150px;
}
.score > p {
  margin-top: 0;
  width: 250px;
}

.main-content {
  display: flex;
  cursor: url(images/kisspng-reticle-clip-art-crosshair-5a732b2c47f5b2.9314851815174971322948.png)
      15 15,
    auto;
}

#my-canvas {
  display: flex;
}

#gameoverscreen {
  display: none;
}

.catch {
  display: none;
}

#winnerscreen {
  display: none;
}

#start-btn,
#next-btn,
#restart-btn {
  background-color: chartreuse;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  width: 150px;
}
